/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}
#qr-code-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 499px;
  padding: 16px;
  border-radius: 17px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.qr-code {
  width: 288px;
  border-radius: 10px;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 131px;
  margin-top: 24px;
}
.text-container h1 {
  max-width: 256px;
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%)
}
.text-container p {
  max-width: 256px;
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  padding-top: 16px;
}